
.chat-toolbar-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.chat-toolbar {
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    &-icon-wrap {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: white;
      margin-bottom: 10px;
    }
    &-icon {
      width: 50px;
      height: 50px;
    }
    &-name {
      font-size: 24px;
      color: #666666;
    }
  }
}

@include respond-to('pc'){
  .chat-toolbar-box {
    padding: 0 16Px 10Px;
  }
  .chat-toolbar {
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 15Px;
      &-icon-wrap {
        width: 26Px;
        height: 26Px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8Px;
        background-color: white;
        margin-bottom: 2Px;
      }
      &-icon {
        width: 16Px;
        height: 16Px;
      }
      &-name {
        display: none;
      }
    }
  }
}
