.chat-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-time {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    text-align: center;
    color: #656565;
    font-size: 20px;

  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    &-right {
      flex-direction: row-reverse;
    }
  }
  &-bubble-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &-name {
    font-size: 22px;
    color: #656565;
    margin-bottom: 10px;
    margin-left: 0.5px;
    &-right {
      text-align: right;
      margin-left: 0px;
      margin-right: 0.5px;
    }
  }
  &-space {
    width: 20px;
    background-color: transparent;
  }
}
