.chat-bubble-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  &-right {
    flex-direction: row-reverse;
  }
}


.chat-bubble {

  max-width: 70vw;
  height: auto;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 14px 14px;

  @include respond-to('pc') {
    border-radius: 8Px;
    padding: 6Px 8Px;
  }

  &-text {
    min-width: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    // user-select: auto;
  }

  &-image {
    width: 240px;
    // height: 300px;
    // border-radius: 20px;
  }

  &-file {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-icon {
      width: 60px;
      height: 60px;
      margin-right: 16px;
      flex-shrink: 0;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      &-name {
        font-size: 26px;
        color: #3c3c3c;
        // margin-bottom: 16px;
      }

      &-size {
        color: #656565;
        font-size: 22px;
      }
    }
  }

  &-no-padding {
    padding: 0;
  }

  @include respond-to("pc") {
    font-size: 14Px;

    &-text {
      min-width: 40Px;
    }

    &-image {
      width: 300Px;
    }

    &-file {
      &-icon {
        width: 40Px;
        height: 40Px;
        margin-right: 8Px;
      }

      &-content {
        &-name {
          font-size: 17Px;
        }

        &-size {
          color: #656565;
          font-size: 17Px;
        }
      }
    }
  }
}