.chat-bubble-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  &-right {
    flex-direction: row-reverse;
  }
}

.chat-bubble {
  max-width: 78vw;
  height: auto;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  &-text {
    min-width: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  &-image {
    width: 300px;
    height: 300px;
  }
  &-file {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-icon {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      &-name {
        font-size: 26px;
        color: #3c3c3c;
        margin-bottom: 16px;
      }
      &-size {
        color: #656565;
        font-size: 22px;
      }
    }

  @include respond-to('pc'){
    max-width: 400Px;
    background-color: white;
    border-radius: 20Px;

    padding: 15Px 30Px;
    &-text {
      min-width: 40Px;

    }
    &-image {
      width: 300Px;
      height: 300Px;
    }
  }
}
}