.chat-textarea {
    position: relative;
    width: auto;
    flex-grow: 1;
    height: 14vh;
    max-height: 120Px;
    outline: hidden;
    padding: 0Px 16Px;
    font-size: 14Px;
    color: #181818;
    @include respond-to('phone'){
      display: none;
    }
}

// .chat-input-wrap{

  .chat-input-wrap_scroll {
    width: 100%;
    // flex-grow: 1;
    // height: 120px;
    flex: 1;
    min-height: 60px;
    // max-height: 140px;
    position: relative;
    width: auto;
    background-color: white;
    outline: hidden;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 15px;
    &_textarea{
      min-height: 30px;
      width: 100%;
      line-height: 30px;
      font-size: 26px;
      margin-top: 15px;
      display: block;
    }
  
    @include respond-to('pc'){
      display: none;
    }
  }
  
// }
