view {
  box-sizing: border-box;
}

.chat {
  &-widget {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond-to("pc") {
      padding: 0;
    }
  }

  &-message-box {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
  }
  &-message {
    width: 100%;
    height: 100%;
    padding: 0 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    box-sizing: border-box;
    &-container {
      border: 1px solid transparent;
    }
    &-wrap {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      &-right {
        align-items: flex-end;
        flex-direction: column-reverse;
      }
      &:first-child {
        padding-top: 26px;
      }
    }
    &-float {
      position: absolute;
      right: 20px;
      bottom: 30px;
    }
  }
  @include respond-to("px") {
    &-message {
      padding: 0 20px 0;
      &-container {
        border: 1px solid transparent;
      }
      &-wrap {
        margin-bottom: 20px;
      }
    }
  }

  &-footer {
    width: 100%;
    height: fit-content;
    background-color: #f5f5f5;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    flex-direction: column;
    position: relative;

    &_send-btn {
      height: 60px;
      font-size: 24px;
      margin-left: 20px;
      background-color: #ff630d !important;
    }
  }
  &-input-wrap {
    width: 100%;
    padding: 20px 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
  }

  &-right-action {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    &-close {
      /* 设置旋转中心点在元素中心 */
      transform-origin: center center;
      /* 绕着自己的中心点旋转 45 度 */
      transform: rotate(45deg);
    }
  }

  &-toolbar {
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding: 0 20px;
    &-show {
      height: 200px;
    }
  }

  @include respond-to("pc") {
    &-footer {
      width: 100%;
      height: fit-content;
      background-color: #f5f5f5;
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      display: flex;
      flex-direction: column;

      &_send-btn {
        display: none;
      }
    }
    &-input-wrap {
      width: 100%;
      padding: 20Px 20Px 30Px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: fit-content;
    }

    &-right-action {
      display: none;
      // &-close {
      //   /* 设置旋转中心点在元素中心 */
      //   transform-origin: center center;
      //   /* 绕着自己的中心点旋转 45 度 */
      //   transform: rotate(45deg);
      // }
    }

    &-toolbar {
      width: 100%;
      height: 0px;
      overflow: hidden;
      padding: 0 20px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
