// @import url(../../assets/styles/media_screen.module.scss);

.chat-avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  &-image {
    width: 100%;
    height: 100%;
  }

  @include respond-to('pc'){
    width: 66Px;
    height: 66Px;
  }
}
